<h1>Listing admin_environment_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_environment_types.each do |admin_environment_type| %>
      <tr>
        <td><%= admin_environment_type.name %></td>
        <td><%= link_to 'Show', admin_environment_type %></td>
        <td><%= link_to 'Edit', edit_admin_environment_type_path(admin_environment_type) %></td>
        <td><%= link_to 'Destroy', admin_environment_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Environment type', new_admin_environment_type_path %>
