= form_tag sessions_path, :class => "login-form" do

  %h1 Please Login
  = label_tag 'Username/Email' do
    = text_field_tag :login_input, params[:login_input], :placeholder => 'username'
  = label_tag :password do
    = password_field_tag :password, :placeholder => 'password'
  = check_box_tag :remember_me, 1, params[:remember_me]
  = label_tag :remember_me
  = submit_tag "Log In", :class => 'btn pull-right'

-#= form_tag login_path, :method => :post , :class => "login-form" do
-#  = label_tag :email do
-#    = text_field_tag :email, params[:email]
-#  = submit_tag "Reset Password", :class => 'btn pull-right'