<h1>Listing admin_sectors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_sectors.each do |admin_sector| %>
      <tr>
        <td><%= admin_sector.name %></td>
        <td><%= link_to 'Show', admin_sector %></td>
        <td><%= link_to 'Edit', edit_admin_sector_path(admin_sector) %></td>
        <td><%= link_to 'Destroy', admin_sector, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sector', new_admin_sector_path %>
