<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_brand.name %>
</p>

<p>
  <strong>Brand owner:</strong>
  <%= @admin_brand.brand_owner %>
</p>

<%= link_to 'Edit', edit_admin_brand_path(@admin_brand) %> |
<%= link_to 'Back', admin_brands_path %>
