= simple_form_for @store do |f|
  = f.error_notification

  .field
    = f.input :name
  .field
    = f.input :address
  .field
    = f.input :address2
  .field
    = f.input :address3
  .field
    = f.input :town
  .field
    = f.association :store_format
  .field
    = f.association :retailer
  .field
    = f.association :country
  .field
    = f.input :description
  .actions
    = f.submit 'Save'
