%p#notice= notice

%p
  %b Name:
  = @store.name
%p
  %b Address:
  = @store.address
%p
  %b Address2:
  = @store.address2
%p
  %b Address3:
  = @store.address3
%p
  %b Postcode:
  = @store.postcode
%p
  %b Store format:
  = @store.store_format
%p
  %b Retailer:
  = @store.retailer
%p
  %b Country:
  = @store.country
%p
  %b Longitude:
  = @store.longitude
%p
  %b Latitude:
  = @store.latitude
%p
  %b Description:
  = @store.description

= link_to 'Edit', edit_store_path(@store)
\|
= link_to 'Back', stores_path
