= form_for @admin_photo do |f|
  - if @admin_photo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_photo.errors.count, "error")} prohibited this admin_photo from being saved:"
      %ul
        - @admin_photo.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :audit
    = f.text_field :audit
  .field
    = f.label :headline
    = f.text_field :headline
  .field
    = f.label :published
    = f.check_box :published
  .actions
    = f.submit 'Save'
