%h1 Listing admin_photos

%table
  %tr
    %th Audit
    %th Headline
    %th Published
    %th
    %th
    %th

  - @admin_photos.each do |admin_photo|
    %tr
      %td= admin_photo.audit
      %td= admin_photo.headline
      %td= admin_photo.published
      %td= link_to 'Show', admin_photo
      %td= link_to 'Edit', edit_admin_photo_path(admin_photo)
      %td= link_to 'Destroy', admin_photo, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Photo', new_admin_photo_path
