%p#notice= notice

%p
  %b Name:
  = @admin_store.name
%p
  %b Address:
  = @admin_store.address
%p
  %b Address2:
  = @admin_store.address2
%p
  %b Address3:
  = @admin_store.address3
%p
  %b Town:
  = @admin_store.town
%p
  %b Postcode:
  = @admin_store.postcode
%p
  %b Store format:
  = @admin_store.store_format
%p
  %b Retailer:
  = @admin_store.retailer
%p
  %b Country:
  = @admin_store.country
%p
  %b Environment type:
  = @admin_store.environment_type
%p
  %b Channel:
  = @admin_store.channel
%p
  %b Longitude:
  = @admin_store.longitude
%p
  %b Latitude:
  = @admin_store.latitude
%p
  %b Description:
  = @admin_store.description

= link_to 'Edit', edit_admin_store_path(@admin_store)
\|
= link_to 'Back', admin_stores_path
