<h1>Listing admin_channels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_channels.each do |admin_channel| %>
      <tr>
        <td><%= admin_channel.name %></td>
        <td><%= link_to 'Show', admin_channel %></td>
        <td><%= link_to 'Edit', edit_admin_channel_path(admin_channel) %></td>
        <td><%= link_to 'Destroy', admin_channel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Channel', new_admin_channel_path %>
